NGINX_HOST_LOG_PATH=./nginx/logs
NGINX_SITES_PATH=./nginx/sites
NGINX_SSL_PATH=./nginx/ssl
NGINX_DEFAULT_CONFIG_PATH=./nginx/nginx.conf
NGINX_HOST_HTTP_PORT=50080
NGINX_HOST_HTTPS_PORT=50081
VARNISH_BACKEND_PORT=50082
APP_PATH=.
WEBSOCKET_PORT=8080
NETWORK_SUBNET=10.10.11.0/24
WEBSOCKET_NETWORK_IP=10.10.11.10

ALLOW_CORS=http://127.0.0.1:3000,https://dev.salary2020.tw:50401,https://dev.interview2020.tw:50401
WEBSOCKET_ENV=dev
